*{
	margin:0;
	padding: 0;

}
	html, .home, .mulai{
		height: 100%;
	}
	.home{
		background:url(aweu.jpg);
		background-size: cover;
		
	}
	.mulai{
		background:url(vapor1.jpg) no-repeat center center;
		background-size: cover;
		flex-direction: column;
		justify-content: center;
	}
	.container{
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	h1{
		color: #FFFFFF;
		font: 900 96px  'Mr De Haviland', cursive;
		text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
		margin-bottom: 24px;
	}
	.btn{
		background: linear-gradient(to right, rgba(255,175,77,1) 0%, rgba(255,145,10,1) 100%);
		border-radius: 40px;
		padding: 20px 48px;
		color:#FFFFFF;
		font: 20px 'Neuton', serif;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

	}
	.btn:hover{
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
		-webkit-transition: box-shadow ls ease;
		transition: box-shadow ls ease;
	}



	ul {
		position: fixed;
		z-index: 999;
		top: 0;
		width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    
}

li:last-child {
    border-right: none;
}

li a{
    display: block;
    color: black;
    font: 300 30px  'Six Caps', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FFFFFF;

}

.logo {
	float: right;
	height: 67px;
}
.active {
    background-color: #000000;
    color: white;
    font: 300 30px  'Six Caps', sans-serif;
}

.navbar{
	margin-bottom: 0px;
}
.image {
	text-align: center;
}
.gambar {
	height: 500px;
	margin-top: 70px;
	display: inline-block;
}

.imgDiv{
	height: 120vh;
}

/****************************/
.picoresin {
	width: 97vw;
}
.vape {
	margin-top: 100px;
}

.vape .img {
	height: 100vh;
	margin: 0;
}

.vape .desc {
	height: 100vh;
	margin: 0;

}

.img img{
	text-align: center;
}

.img .img-full{
	height: 100vh;
	width: 100vw;
	margin: 0;
}


.desc h2  {
	font-family: 'Fredoka One', cursive;
	font-size:  30px;
	margin: 0 auto;

}

.background {
	background-color: grey;
}

.background2 {
	background-color: black;
	width: auto;

}


